name: 小米运动

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 40 8 * * *
  watch:
    types: started

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
      - uses: actions/checkout@v2
      - name: 初始化Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: 开始
        run: |
          pip install requests
          pmode='${{ secrets.PMODE }}'
          pkey='${{ secrets.PKEY }}'
          user='${{ secrets.XMYD_USER }}'
          pwd='${{ secrets.XMYD_PASSWD }}'
          step='${{ secrets.XMYD_STEP }}'

          python3 main.py ${pmode} ${pkey} ${user} ${pwd} ${step}
